* {
  box-sizing: border-box;
}

.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 0;
}
.header {
  position: relative;
}
.header > * {
  z-index: 10;
  position: relative;
  color: white;
}

.header {
  background: url(images/home.jpg);
  background-size: cover;
  background-position: center;
  height: 768px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.icons {
  font-size: 40px;
  color: white;
}
h3,
h5 {
  color: #414756;
}
.brand-logo {
  font-family: Tangerine, serif;
  font-weight: bold;
}
.intro {
  height: 300px;
  padding: 20vh 10px;
}
.intro p {
  font-size: 5vw;
}
.section-a {
  background-color: #2867b2;
}

.section-a {
  padding-top: 1px;
}

.section-b {
  padding-top: 1px;
}

.section-d {
  padding-top: 1px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(100px, auto);
  justify-items: center;
  grid-template-areas:
    "stat1 stat1 stat1 stat1"
    "stat2 stat2 stat2 stat2"
    "stat3 stat3 stat3 stat3"
    "stat4 stat4 stat4 stat4";
}
.stat1 {
  grid-area: stat1;
}
.stat2 {
  grid-area: stat2;
}
.stat3 {
  grid-area: stat3;
}
.stat4 {
  grid-area: stat4;
}
.count {
  font-size: 50px;
  font-weight: bold;
}
.services .material-icons {
  display: inline-flex;
  vertical-align: middle;
  color: #0aa65d;
}
.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas:
    "service1 service1"
    "service2 service2"
    "service3 service3"
    "service4 service4"
    "service5 service5"
    "service6 service6";
}
.service1 {
  grid-area: service1;
}
.service2 {
  grid-area: service2;
}
.service3 {
  grid-area: service3;
}
.service4 {
  grid-area: service4;
}
.service5 {
  grid-area: service5;
}
.service6 {
  grid-area: service6;
}
.parallax-container {
  height: 200px;
}

.clients {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-template-areas:
    "client1 client1 client1 client1 client1 client1 "
    "client2 client2 client2 client2 client2 client2 "
    "client3 client3 client3 client3 client3 client3 "
    "client4 client4 client4 client4 client4 client4 ";
}
.client1 {
  grid-area: client1;
}
.client2 {
  grid-area: client2;
}
.client3 {
  grid-area: client3;
}
.client4 {
  grid-area: client4;
}
.client5 {
  grid-area: client5;
}
.client6 {
  grid-area: client6;
}

.project1 {
  grid-area: project1;
}
.project2 {
  grid-area: project2;
}
.project3 {
  grid-area: project3;
}
.project4 {
  grid-area: project4;
}
.test-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.slider .slides {
  background-color: #38acff;
}
.input-field [type="text"] {
  color: white;
}
.input-field [type="email"] {
  color: white;
}
textarea {
  color: white;
}
.social {
  color: teal;
}
.social a {
  color: teal;
}
.social li {
  margin-bottom: 10px;
}
.social-icon {
  font-size: 5vw;
}
.scroll-up {
  display: none;
  text-align: center;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  position: fixed;
}
.side-menu {
  background-color: #9ebab7;
}
.side-menu ul li a {
  font-weight: bold;
  color: #288d88;
}
.social .icons {
  color: #6256c5;
}

@media screen and (max-width: 767px) {
  .header {
    height: 600px;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 6vw;
  }
  p {
    font-size: 5vw;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 5px;
    grid-template-areas:
      "project4 project4 "
      "project1 project1"
      "project3 project3"
      "project2 project2";
  }
  .social {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .intro p {
    font-size: 2.3vw;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 2.5vw;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(200px, auto);
    grid-template-areas: "stat1 stat2 stat3 stat4";
  }
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-column-gap: 10px;
    grid-template-areas:
      "service1 service2"
      "service3 service4"
      "service5 service6";
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 10px;
    grid-template-areas:
      "project1 project2 "
      "project3 project4";
  }
  .clients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "client1 client2 client3 client4 ";
  }
  .social-icon {
    font-size: 2vw;
  }
}
